<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.todolist">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="ToDo App"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDoList">

        <activity
            android:name=".view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".view.MainActivity"
            android:exported="false" />

        <activity
            android:name=".view.AddTaskActivity"
            android:exported="false" />

        <activity
            android:name=".view.EditTaskActivity"
            android:exported="false" />

        <activity
            android:name=".view.ManageCategoriesActivity"
            android:exported="false" />

        <activity
            android:name=".view.TaskDetailActivity"
            android:exported="false" />

    </application>

</manifest>
